# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

requests
Pillow
opentelemetry-api==1.5.0
opentelemetry-sdk==1.5.0
opentelemetry-exporter-otlp-proto-grpc==1.5.0